.first-div{
    background-color: rgba(84, 23, 153, 0.26);
    color: white;
    text-align: center;
    height: 70px;
    padding: 10px;
    
}
   


h1{
    font-size: 45px;
}
.orange-color{
    color: orange;
}
.para-color{
    color: orchid;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    
}

.section-style{
    display: flex;
    margin: 20px;
    
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
#img-size{
    width: 400px;
    height: 400px;
}
#back-girl{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.para-style{
    text-align: center;
    color: chocolate;
}
.column {
    box-shadow: 10px 10px 30px darkcyan;
    border-radius: 15px;
    padding: 10px 10px 10px 35px;
   width: 20%;
   margin: 5%;


}
.image-deco{
    width: 250px;
    height: 250px;
}
.last-sec{
    padding: 40px;
    text-align: center;
    font-weight: 500;
    box-shadow: 10px 10px 20px gainsboro ;
    color: black;
    margin: 6%;
    border-radius: 20px;
}
footer h2{
    text-align: center;
}
footer p{
    text-align: center;
    color: black;
}
footer{
    background-color: darkorchid;
    padding: 30px;

}
